.content {
    flex: 1 1 0;
    padding: 2rem;
    margin-left: 270px;
    position: relative;
}

.content h1 {
    color: var(--foregroundColor) !important;
    font-size: 26px;
    margin-bottom: 1rem;
    margin-top: 0.05rem;
    margin-left: 0.1rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.content .prompt-form {
    padding: 10px 25px;
}

.content .prompt-form .form-group {
    margin-bottom: 1.3rem !important;
    position: relative;
}

.content .prompt-form .form-group label {
    margin-bottom: 0.7rem;
    color: var(--foregroundColor);
}

.content .prompt-form textarea, .content .prompt-form select {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
}

.valid-tooltip, .valid-feedback {
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--c4);
}
.invalid-tooltip, .invalid-feedback {
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--c5);
}

td {
    color: var(--foregroundColor);
}

.submit-btn{
    outline: none;
    text-align: center;
    padding: 12px 15px;
    border-radius: 10px;
    color: black;
    background-color: var(--c3);
    border: none;
    margin-top: 0;
}

.submit-btn:hover {
    background-color: #E0E5B6;
}


