/*button:focus{*/
/*    outline:none;*/
/*}*/

/*.icon{*/
/*    min-height: 20vh;*/
/*}*/

/*.inner-title{*/
/*    align-items:center;*/
/*}*/

/*.logo{*/
/*    width:150px;*/
/*}*/

.dialogue-list {
    max-height: 77vh;
    overflow-y: auto;
    width:100%;
    padding: 10px 15px;
}

.dialogue-list .accordion-item {
    /*background-color: rgba(255, 255, 255, 0.51);*/
    margin-bottom: 10px;
    background-color: var(--canvasColor);
    /*border:none;*/
    border-color: var(--border-color);
}

.dialogue-list .accordion-button {
    /*background-color: var(--backgroundColor);*/
    background-color: var(--canvasColor);
    color: var(--foregroundColor);
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border-color: #111111;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight:700;
    gap:5px;
}

.input-group {
    margin-left:-20px;
    margin-bottom: 0px !important;
    height: 30px !important;
    color: var(--foregroundColor);
}

.input-group.mb-3 .form-control {
    height: 30px !important;
    padding: 5px !important;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
    border-color: var(--border-color);
}

.input-group.mb-3 .input-group-text {
    height: 30px !important;
    /*background-color: var(--backgroundColor-1); */
    color: black;
}

.dialogue-list .input-wrapper{
    background: var(--backgroundColor);
    margin-left:-20px;
    border-radius: 5px;
    height: auto;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13px;
}

.dialogue-list .input-wrapper textarea{
    border:none;
    width:95%;
    border-radius: 5px;
    height: auto;
    resize: none;
    overflow: hidden;
    min-height: 30px;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
}

.dialogue-list .input-wrapper textarea:focus{
    outline:none;
}

.dialogue-list .accordion-button img,.dialogue-list .input-wrapper img
{
    max-width:20px;
    align-self: flex-start;

}

.dialogue-list .icon-wrapper{
    display: flex;
    background: none;
    border: none;
    gap: 7px;
}

.dialogue-list .accordion-content {
    /*background-color: var(--canvasColor);*/
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.content1 .inner-title{
    display:flex;
    gap:10px;
}

.content1>div:first-child{
    height:5%;
}


.content1>div:last-child{
    align-items:center;
    height:5%;
}

.export-wrapper{
    position: relative;
    display: flex;
}

.export-wrapper img{
    width:30px;
}

.export-wrapper > div{
    display: none;
    opacity:0;
    position: absolute;
    left: 0px;
    top: -2.9rem;
    transition:opacity 0.2s ease;
    background: none;
}

.export-wrapper div .button-group button{
    padding: 5px 2px;
    border-radius: 5px;
    font-size: 3rem !important;
    text-align: center;
}

.export-wrapper div button:hover {
    border-color: #D4D6D8;
    background-color: #E2E3E5;
    color: #42464A;
}

.export-wrapper:hover div{
    display:flex;
    opacity:1;
}

.my-title{
    font-size: 24px;
    font-weight: 600;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
}
.transparent-btn {
    border: none;
    background: none;
}