body {
    background: var(--canvasColor);
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    flex: 1 1 300px;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: var(--c3);
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.sidebar h3 {
    color: #707793;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 3em;
}

.sidebar .menu {
    flex-grow: 1;
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1em 1.5em;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: 0.2s linear;
    margin-bottom: 1em;
}

.sidebar .menu .menu-item i {
    width: 15%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.sidebar .menu .menu-item:hover {
    border-right: 7px solid #5C88C4;
}

.sidebar .form-check .form-switch .d-flex .align-items-center label {
    color: rgba(0, 0, 0, 0.6); /* Apply your desired style here */
}

.content {
    flex: 1 1 0;
    padding: 2rem;
}

.content h1 {
    color: var(--foregroundColor) !important;
    font-size: 26px;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.content .prompt-form {
    padding: 20px 30px;
}

.content .prompt-form label {
    margin-bottom: 0.8rem;
    color: var(--foregroundColor);
}

.content .prompt-form .form-group {
    margin-bottom: 1.5rem;
}

.content .prompt-form textarea, .content .prompt-form select {
    border: none;
    border-radius: 12px;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
}

.in-button {
    outline: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    background-color: var(--c3);
    border: none;
    margin-left: 5px;
}

.in-button i {
    font-size: 15px;
}

.in-button span {
    font-size: 13px;
}

.out-button {
    outline: none;
    text-align: center;
    padding: 12px 15px;
    border-radius: 10px;
    color: black;
    background-color: var(--c3);
    border: none;
}

.in-button:hover, .out-button:hover {
    background-color: #E0E5B6;
}



@media (max-width: 768px) {
    .sidebar {
        max-width: 200px;
    }
}


