<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: common_header(~{::title},~{::link}) }"></head>
<link href="/css/auth.css" rel="stylesheet">
<body>
    <input class="theme" id="light-theme" type="radio" checked="checked" style="display: none"/>
    <input class="theme" id="dark-theme" type="radio" style="display: none"/>

    <main>
        <section class="form">
            <h6>Game Dialogue Generator</h6>
            <h4>Welcome back!</h4>

            <form class="auth-form">
                <div class="field">
                    <label>Username</label>
                    <input id="username" type="text" placeholder="Username from 1 to 20 chars"/>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input id="password" type="password" placeholder="Password from 8 to 20 chars"/>
                </div>
                <div class="buttons">
                    <button type="button" class="button" onclick="signup()">Signup</button>
                    <button type="button" class="button c2" onclick="login()">Login</button>
                </div>
            </form>
        </section>
        <div class="form-check form-switch d-flex align-items-center" style="margin-left: 5%;">
            <label for="theme-switch" class="form-check-label me-5">Theme Switch</label>
            <input class="form-check-input" type="checkbox" role="switch" id="theme-switch">
        </div>
    </main>
</body>
<script>
    $("#theme-switch").on("click", function() {
        if ($(this).prop('checked')) {
            $("#light-theme").prop("checked", false);

            $("#dark-theme").prop("checked", true);
            $("body").css("background", "#2F2E2E");
            $("footer").attr("class", "dark");
        } else {
            $("#dark-theme").prop("checked", false);

            $("#light-theme").prop("checked", true);
            $("body").css("background", "#f9f9f9");
            $("footer").attr("class", "");
        }
    });

    async function login() {
        axios.post('/login', {
                username: $("#username").val(),
                password: $("#password").val()
            })
            .then(function (response) {
                console.log(response.data);
                window.open('/home', "_self")
            })
            .catch(function (error) {
                alert(JSON.stringify(error.response.data, null, 2));
                console.log(error.response.data);
            });
    }

    async function signup() {
        axios.post('/signup', {
                username: $("#username").val(),
                password: $("#password").val()
            })
            .then(function (response) {
                console.log(response.data);
                window.open('/home', "_self")
            })
            .catch(function (error) {
                alert(JSON.stringify(error.response.data, null, 2));
                console.log(error.response.data);
            });
    }
</script>
</html>
