<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: common_header(~{::title},~{::link}) }">

</head>
<body>
    <input class="theme" id="light-theme" type="radio" value="1" name="color" checked="checked"/>
    <input class="theme" id="dark-theme" type="radio" value="2" name="color"/>

    <main>
        <section class="form">
            <h6>Game Dialogue Generator</h6>
            <h2>Welcome.</h2>

            <form class="auth-form">
<!--                <div class="space-container">-->
                <div class="field">
                    <label>User</label>
                    <input id="username" type="text" placeholder="Username from 1 to 20 chars"/>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input id="password" type="password" placeholder="Password from 8 to 20 chars"/>
                </div>
                <div class="buttons">
                    <button type="button" class="button" onclick="signup()">Signup</button>
                    <button type="button" class="button c2" onclick="login()">Login</button>
                </div>
<!--                </div>-->
            </form>
        </section>
    </main>
</body>
<script>
    $("input.theme").on("click", function() {
        if ($(this).val() > 1) {
            $("body").css("background", "#2F2E2E");
            $("footer").attr("class", "dark");
        } else {
            $("body").css("background", "#f9f9f9");
            $("footer").attr("class", "");
        }
    });

    async function login() {
        axios.post('/login', {
                username: $("#username").val(),
                password: $("#password").val()
            })
            .then(function (response) {
                console.log(response.data);
                window.open('/home', "_self")
            })
            .catch(function (error) {
                alert(JSON.stringify(error.response.data, null, 2));
                console.log(error.response.data);
            });
    }

    async function signup() {
        axios.post('/signup', {
                username: $("#username").val(),
                password: $("#password").val()
            })
            .then(function (response) {
                console.log(response.data);
                window.open('/home', "_self")
            })
            .catch(function (error) {
                alert(JSON.stringify(error.response.data, null, 2));
                console.log(error.response.data);
            });
    }
</script>
</html>
