<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: common_header(~{::title},~{::link}) }">

</head>
<body>
    <section class="form">
        <h1>Generate Dialogue</h1>

        <form class="prompt-form">
            <div class="form-group">
                <label for="game-context">Describe the Game Context:</label>
                <textarea class="form-control" id="game-context" rows="5"
                          placeholder="Describe the game setting, world history, main conflict or goals, key events... (200 words)"></textarea>
            </div>
            <div class="form-inline form-group">
                <label for="genre-dropdown">Pick a Genre:</label>
                <select class="form-control dropdown-toggle" id="genre-dropdown"></select>
            </div>
            <div class="form-group">
                <label for="tone-description">Describe the Tone:</label>
                <textarea class="form-control" id="tone-description" rows="2"
                          placeholder="lively, despair, tense, suspenseful, ..."></textarea>
            </div>
<!--                TODO FIGURE OUT THE MULTIPLE CHARACTERS-->
            <div class="form-group">
                <label for="add-character">Describe your Characters</label>
                <button type="button" class="button" id="add-character" onclick="addCharacter()">Add Character</button>
                <div id="character-container">
                <label for="character1">Character 1</label>
                <textarea class="form-control" id="character1" rows="3"
                          placeholder="Describe the character's role, personality, relationship with other characters ..."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col form-inline form-group">
                    <label for="max-dialogue-depth">Maximum Dialogue Depth:</label>
                    <select class="form-control" id="max-dialogue-depth">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col form-inline form-group">
                    <label for="num-endings">Number of Endings:</label>
                    <select class="form-control" id="num-endings">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col form-inline form-group">
                    <label for="language-dropdown">Pick a Language:</label>
                    <select class="form-control" id="language-dropdown"></select>
                </div>
            </div>
            <button type="button" class="button" onclick="sendPrompt()">Generate</button>
        </form>
    </section>
</body>

<script>
    function getGenres() {
        axios.get('/genres')
            .then(function (response) {
                const genres = response.data.data;
                const genreDropdown = document.getElementById('genre-dropdown');
                genres.forEach(function (genre) {
                    const option = document.createElement('option');
                    option.value = genre.genreid;
                    option.textContent = genre.name;
                    genreDropdown.appendChild(option);
                });
            })
            .catch(function (error) {
                console.log(error.response.data);
            });
    }

    function getLanguages() {
        axios.get('/languages')
            .then(function (response) {
                const languages = response.data.data;
                const languageDropdown = document.getElementById('language-dropdown');
                languages.forEach(function (language) {
                    const option = document.createElement('option');
                    option.value = language.languageid;
                    option.textContent = language.name;
                    languageDropdown.appendChild(option);
                });
            })
            .catch(function (error) {
                console.log(error.response.data);
            });
    }

    function sendPrompt() {
    //     TODO: Send information to backend
    }

    let characterCount = 1
    function addCharacter() {
    //     Dynamically adds another character text box
    //     TODO: Dynamically add another text box
        characterCount += 1
        let newLabel = Document.createElement("label")
        newLabel.setAttribute("for", "character"+characterCount)
        newLabel.textContent = "Character " + characterCount

        let newTextarea = Document.createElement("textarea")
        newTextarea.setAttribute("class", "form-control")
        newTextarea.setAttribute("id", "character"+characterCount)
        newTextarea.setAttribute("rows", "3")
        newTextarea.setAttribute("placeholder",
            "Describe the character's role, personality, relationship with other characters ...")

        let container = Document.getElementById("character-container")
        container.appendChild(newLabel)
        container.appendChild(newTextarea)
    }

    window.onload = function() {
        getGenres();
        getLanguages();
    };
</script>
</html>